@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html {                                             /* Tipo de letra de la pagina*/
    font-family: 'Montserrat', sans-serif;
}

#body {                                            /* color de fondo */
    background-color: rgb(20, 20, 27);
}

.encabe{                                           /*color de letra*/
    color: aliceblue;
    text-align: center;
    padding-block: 25px;
}

.contenedor {
    display: flex;
    justify-content: center;
    background-color: rgb(45, 62, 80);
    padding: 5px;
}

.butn1 {                                     
    display: flex;
    justify-content: left;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: left;
}

.button1{
    text-decoration: none;
    background-color: rgb(37, 43, 47);
    color:rgb(0, 153, 255);
    padding: 10px 20px;
    border-radius: 5px;
    transition: all .3s ease;
}
.button1:hover {
    background-color: rgb(0, 153, 255);
    color:black;
    box-shadow:
    0 0 5px rgb(0, 153, 255),
    0 0 20px rgb(0, 153, 255),
    0 0 60px rgb(0, 153, 255),
    0 0 150px rgb(0, 153, 255);
}

.butn2 {                                     
    display: flex;
    justify-content: right;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-right: 1250px;
    text-align: right;
}

.button2{
    text-decoration: none;
    background-color: rgb(37, 43, 47);
    color:rgb(0, 153, 255);
    padding: 10px 20px;
    border-radius: 5px;
    transition: all .3s ease;
}
.button2:hover {
    background-color: rgb(0, 153, 255);
    color:black;
    box-shadow:
    0 0 5px rgb(0, 153, 255),
    0 0 20px rgb(0, 153, 255),
    0 0 60px rgb(0, 153, 255),
    0 0 150px rgb(0, 153, 255);
}

.footer{                                           /*color de letra*/
    color: aliceblue;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.butnfaqq {
    display: flex;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: left;
}

.buttonfaqq {
    text-decoration: none;
    background-color: rgb(37, 43, 47);
    color:rgb(0, 153, 255);
    padding: 10px 20px;
    border-radius: 10px;
    transition: all .3s ease;
}

.buttonfaqq:hover {
    background-color: rgb(0, 153, 255);
    color:black;
    box-shadow:
    0 0 5px rgb(0, 153, 255),
    0 0 20px rgb(0, 153, 255),
    0 0 60px rgb(0, 153, 255),
    0 0 150px rgb(0, 153, 255);
}

.contenedorre {
    display: flex;
    justify-content: center;
    background-color: rgb(45, 62, 80);
    padding: 5px;
}

.butnr1 {
    display: flex;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: left;
}

.buttonr1 {
    text-decoration: none;
    background-color: rgb(37, 43, 47);
    color:rgb(0, 153, 255);
    padding: 10px 20px;
    border-radius: 10px;
    transition: all .3s ease;
}

.buttonr1:hover {
    background-color: rgb(0, 153, 255);
    color:black;
    box-shadow:
    0 0 5px rgb(0, 153, 255),
    0 0 20px rgb(0, 153, 255),
    0 0 60px rgb(0, 153, 255),
    0 0 150px rgb(0, 153, 255);
}

.butnr2 {
    display: flex;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-right: 1250px;
    text-align: left;
}

.buttonr2 {
    text-decoration: none;
    background-color: rgb(37, 43, 47);
    color:rgb(0, 153, 255);
    padding: 10px 20px;
    border-radius: 10px;
    transition: all .3s ease;
}

.buttonr2:hover {
    background-color: rgb(0, 153, 255);
    color:black;
    box-shadow:
    0 0 5px rgb(0, 153, 255),
    0 0 20px rgb(0, 153, 255),
    0 0 60px rgb(0, 153, 255),
    0 0 150px rgb(0, 153, 255);
}

.butnenv {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 140px;
    text-align: center;
}

.buttonenv {
    text-decoration: none;
    background-color: rgb(0, 153, 255);
    color:rgb(0, 0, 0);
    padding: 20px 35px;
    border-radius: 20px;
    transition: all .3s ease;
}

.buttonenv:hover {
    background-color: rgb(0, 153, 255);
    color:black;
    box-shadow:
    0 0 5px rgb(0, 153, 255),
    0 0 20px rgb(0, 153, 255),
    0 0 60px rgb(0, 153, 255),
    0 0 150px rgb(0, 153, 255);
}

