@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html {                                             /* Tipo de letra de la pagina*/
    font-family: 'Montserrat', sans-serif;
}

#body {                                            /* color de fondo */
    background-color: rgb(20, 20, 27);
}

.encabe{                                           /*color de letra*/
    color: aliceblue;
}

.butn {                                     
    display: flex;
    justify-content: left;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: left;
}

.button{
    text-decoration: none;
    background-color: rgb(0, 153, 255);
    color:rgb(0, 0, 0);
    padding: 10px 25px;
    border-radius: 10px;
    transition: all .3s ease;
}
.button:hover {
    background-color: rgb(0, 153, 255);
    color:black;
    box-shadow:
    0 0 5px rgb(0, 153, 255),
    0 0 20px rgb(0, 153, 255),
    0 0 60px rgb(0, 153, 255),
    0 0 150px rgb(0, 153, 255);
  }
