{% load static %}
<!DOCTYPE html>

<head>
    <title>{% block title %}Django App{% endblock %}</title></title>
    <link rel="stylesheet" href= '{% static 'css/style.css' %}' />
    
</head>
<body>
    <div class="container">{% block content %}{% endblock %}</div>
</body>

<footer class="pie"> <!--pie de pagina-->
    <div class="section">
        <div class="ramo">
            <h3>IWG-101</h3>
            <p>Proyecto Semestral de Introducción a la Ingeniería</p>
            <hr/>
        </div>
  
        <div class="tex1">
            <h3>Hecho por:</h3>  <!--nombres de integrantes-->
            <div class="text11">
                <p>Bastian Jimenez</p>
                <p>Alejandro Escudero</p>
                <p>Kate Drolett</p>
                <p>Benjamin Escalona</p>
                <hr/>
            </div>
        </div>
    </div>
  </footer>