<div class="butn"><a href="../" class="button">Home</a></div> <!--boton de comanzar-->
{% extends "base.html" %} {% block title %} Faq {% endblock %}
{% block content %} 
{% load static %}
<link rel="stylesheet" href= '{% static 'css/faq.css' %}' />
    <h2>
        ¿Por qué hacemos esto?
    </h2>
    <p class="pp">
        Usualmente las personas que son diferentes al resto, ya sea algo bueno o malo, tienden a pensar de que están solas en el mundo. El objetivo principal de crear este proyecto es dejar presente a aquellas personas, de que no están solas en el mundo.
    </p>
    <h2>
        ¿Qué es "CharacterMatch"?
    </h2>
    <p class="pp">
        CharacterMatch es un proyecto sin fines de lucro creado por estudiantes universitarios cuyos objetivos son intentar hacer a todos visibles en este mundo, mostrandole a cualquier persona que no está sola en el mundo. ¡Existe alguien que es tal como tú!
        CharacterMatch intenta mostrarte alguien similar a ti.
    </p>	
    <h2>	
        ¿Quienes somos? 
    </h2>
    <p class="pp">
        Nosotros somos estudiantes de Ingeniería Civil Informática en la Universidad Técnica Federico Santa Maria, ubicada en Valparaíso, Chile. Somos un pequeño grupo de personas que crea una página la cual intenta dar visibilidad a todos.
    </p>
    <h2>				
        ¿Qué nos diferencia del resto?
    </h2>
    <p class="pp">
        Principalmente, el hecho de que nosotros somos estudiantes y queremos hacer un mundo mejor en lugar de hacer un proyecto con fines de lucro. Es por eso que "CharacterMatch" es gratis y sin ningún anuncio. 
        Nuestra meta es realmentee ayudar a la gente, en lugar de dar un meensaje genérico que te hará sentir mejor por unos minutos, nosotros directamente te damos ejemplos de gente similar a tí.
    </p>	
    
{% endblock %}