<section>
    <button class="button">
        <span><a href="../">Home</a></span>
    </button>

</section>
{% extends "base.html" %} {% block title %} Faq {% endblock %}
{% block content %} 
    <h2> Benjamin Escalona </h2>
    <h2> Kate Drolet </h2>
    <h2> Alejandro Escudero </h2>
    <h2> Bastian Jimenez </h2>
    Justification/Why we do this? 

    Usually a lot of people that is different to the rest of person, whether something good or bad, they tend to think that they're alone in this world. The main point of creating this project is to make sure to let them know that they're not alone. 

    What is CharacterMatch? 

    CharacterMatch is a non-profit project run by University Students which it's objetive is to try to make everyone visible in the world by showing anyone that they're not alone in this world. There's someone that is just like you! 
    CharacterMatch tries to show someone known that is similar to you. 

    Who are we?

    We are Civil Computing Engineering Students from Universidad Técnica Federico Santa Maria located in Valparaíso, Chile. We consist in a small group of persons that creates a site which tries to make anyone visible.


    Mecanica corazon:
    Realmente desconosco esto
{% endblock %}