

<div class="contenedor">
    <div class="butn2"><a href="../" class="button2">Home</a></div> <!--boton de comanzar-->
    <div class="butn1"><a href="../faq" class="button1">Faq</a></div>  <!--boton de comanzar-->
</div>

{% extends "base.html" %} {% block title %} Form {% endblock %}
{% block content %} 

{% load formtags %}
{% load static %}

<script src="{% static 'js/questionscript.js' %}"></script>
<link rel="stylesheet" href= '{% static 'css/home.css' %}' />

<h3 class="encabe">Responde las siguientes preguntas:</h3>
<hr>
<footer class="footer">
    <div class="content">
        <div class="footer-row">
            <br>
            {% if submitted %}
                <h1>Datos ingresados correctamente!</h1>
                <div class="butnenv"><a href="../result" class="buttonenv">Resultados</a></div> <!--boton de comanzar-->
            {% else %}

                <form action="" method=POST>
                    {% csrf_token %}
                    
                    {{ f.as_p }}

                    <input type="submit" value="Match" class="btn btn-secondary">
                </form>
            {% endif %}

        </div>
    </div>
</footer> 

{% endblock %}