

<div class="butn"><a href="faq" class="button">Faq</a></div> <!--boton de comanzar-->

{% extends "base.html" %} {% block title %} Home Page {% endblock %}


{% block content %} 

{% load static %}
<link rel="stylesheet" href= '{% static 'css/home.css' %}' />
<header id="title">
  <h3 class="question">Do you want to know what are your wonderful qualities?<br>  <!--titulo y otros-->
    This is the page for you!</h4>
  <h1 class="titulo">CharacterMatch</h1>
  <h3 class="sub">Encuentra personas y personajes famosos que tienen tus mismas caracteristicas</h5>
</header>

<div class="boton"><a href="form" class="btn">Comenzar</a></div> <!--boton de comanzar-->


{% endblock %}

