<section>
  <button class="button">
      <span><a href="faq">Faq</a></span>
  </button>

</section>

{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %} 


<h4 class="question">Do you want to know what are your wonderful qualities?<br>
  This is the page for you!</h4>

<h5 class="sub">Encuentra personas y personajes famosos que tienen tus mismas caracteristicas</h5>

<section>
  <button class="button">
      <span><a href="form">Comenzar</a></span>
  </button>

</section>
{% endblock %}